

#contactStringID {
    color: white;
    background-color:rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    border: 10px;
    border-style: solid;
    left: 10px;
    border-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}